@model Tarea_progra.Models.Formulario
@{
    ViewData["Title"] = "Calcula tu Sueldo";
}

    <h1>@ViewData["Title"]</h1>
    <img src="/images/Blog.jpg" width="100%" height="500em">
        <div class="container">
            <form asp-action="FormularioCreate">
                <!--<label asp-for="sueldo" class="control-label">Sueldo</label><br>
                <input asp-for="sueldo" class="form-control"><br>
                <label asp-for="meses" class="control-label">Cantidad de meses</label><br>
                <input asp-for="meses" class="form-control"><br>
                <input type="submit" value="Create" class="btn btn-default">-->
                <div class="row">
                    <div class="col">
                        <h4>Sueldo:</h4>
                        <input asp-for="sueldo" class="form-control" placeholder="Ingrese su sueldo aqui">
                    </div>
                    <div class="col">
                        <h4>Cantidad de meses</h4>
                        <select asp-for="meses" class="custom-select">
                            <option selected>Cantidad de meses</option>
                            <option value="1">1 Uno</option>
                            <option value="2">2 Dos</option>
                            <option value="3">3 Tres</option>
                            <option value="4">4 Cuatro</option>
                            <option value="5">5 Cinco</option>
                            <option value="6">6 Seis</option>
                            <option value="7">7 Siete</option>
                            <option value="8">8 Ocho</option>
                            <option value="9">9 Nueve</option>
                            <option value="10">10 Diez</option>
                            <option value="11">11 Once</option>
                            <option value="12">12 Doce</option>
                        </select>
                    </div>
                </div>
                <p></p>
                <div class="text-center">
                    <input type="submit" value="Calcular" class="btn btn-success">
                </div>
            </form>
        </div>


<div class="alert alert-success" role="alert">
  @Html.DisplayFor(mode1 => mode1.mensaje)
</div>

